entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8082
externalPort = 3002

[env]
PORT = "5000"

[agent]
stack = "EXPO"
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_TUNNEL_SUBDOMAIN=newaudio360dev npx expo start --tunnel --web --port 5000 --clear"
waitForPort = 5000

[userenv]

[userenv.shared]
EXPO_PUBLIC_UPI_ID = "dhairyavkshah@icici"
EXPO_PUBLIC_UPI_PHONE = "+919722523691"
EXPO_PUBLIC_PAYPAL_USERNAME = "dhairyavkshah"
EXPO_PUBLIC_PAYEE_NAME = "Dhairyavk Shah"
